// CONSTANTS 
$DARK-MODE-PRIMARY: #121212;
$LIGHT-MODE-PRIMARY: #ffffff;
$DARK-MODE-SECONDARY: #1f1f1f;
$LIGHT_GREY: #b0b0b0;
$ACCENT-COLOR: #f5f5f5;
$primary-color: #242424;
$secondary-color: #333333;
$text-color: #e5e5e5;
$hover-color: #a3a3a3;
$border-color: #414868;


// media containers (responsive) different devices
$PHONE-MIN-PORTRAIT-W: 30rem;
$TABLET-MIN-PORTRAIT-W: 48rem;
$DESKTOP-DEFAULT-MIN-W: 80rem; // default desktop screens (1920x1080 screens)
$DESKTOP-LARGE-MIN-W: 96rem; // larger desktop screens (ultra-wide)

