.main-content-container {
  width: 100%;
  // height: calc(100vh - 5rem);
  flex: 1;
  // position: relative;
  margin-top: 4rem; // Account for fixed navbar
  // min-height: calc(100vh - 4rem);
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Responsive design */
@media (max-width: 768px) {
  .main-content-container {
    max-width: 100%;
    grid-template-columns: 1fr; /* Stack on mobile */
    padding: 1rem;
    border: 0px;
  }
}
